@charset "utf-8";
/* CSS Document */
.ouraims-banner{
	width: 1519px;
	height: 300px;
	background-image: url("../images/我们的目的地banner.jpg")
}
.title-regular{
	width: 1180px;
	height: 40px;
	padding-top: 150px;
	margin: auto;
	font-size: 30px;
	font-family: SimSun,Microsoft YaHei,serif;
	color: #fff;
	padding-bottom: 20px;
}
.title-text-regular{
	width: 1180px;
	height: 24px;
	margin-top: 30px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 24px;
	margin: auto;
}
.aims-content-box{
	width: 1180px;
	height: 1000px;
	margin: auto;
}
.aims-content-box-input{
	width: 800px;
	height: 46px;

	padding-top: 50px;
}
.aims-input{
	width: 750px;
	height: 46px;
	border: 1px solid #ccc;
    padding-left: 50px;
    font-size: 14px;
    line-height: 20px;
}
.aims-input-logo{
	margin-top: 5px;
	position: absolute;
	padding-top: 60px;
	padding-left: 10px;
}
.aims-table{
	width: 1180px;
	height: 800px;

	text-align: center;
	margin-top: 30px;
}
table{
	width: 900px;
	height: 800px;

}
td{
	width: 100px;
	    color: #876a20;
	font-size: 14px;
	font-family: Montserrat,SimHei,Microsoft YaHei,sans-serif;
}