@charset "utf-8";
/* CSS Document */
.accountedit{
	width: 1180px;
	height: 36px;
	background-color: #f4f5f6;
	margin-top: 20px;
	line-height: 48px;
	margin-bottom: 500px;
	margin-left: 150px;
	 margin-bottom: 14px;
    font-size: 24px;
    color: #333;
    font-family: SimSun,Microsoft YaHei,serif;
 
	
}
